.tooltip1 {
   position: absolute;
   margin: 8px;
   padding: 4px;
   background: rgba(0, 0, 0, 0.8);
   color: #fff;
   max-width: 800px;
   font-size: 24px;
   z-index: 9;
   pointer-events: none;
   line-height: 40px;
 }

