.img__president{
    width: 500px;
    height: 700px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 1);
}

.image__president{
    
    margin-left: 20px;
    padding: 40px;
}

.president{
    margin-right: 10%;
}