.main {
  min-width: 100px;
  padding: 0 20px;
  height: 260px;
  margin-top: 20%;
  height: 100vh;
  width: 100vw;
}
  

  
.container {
  align-items: center;
  height: 100%;
  height: 100vh;
}

.addinfo{
  margin-top: 5%;
}
  

.mainBlock{
  height: 100vh;
  width: 100vw;
}





